<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="huayq.cn.blog.dal.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="huayq.cn.blog.dal.model.UserDO">
        <id column="ID" property="id" />
        <result column="USER_NO" property="userNo" />
        <result column="USERNAME" property="username" />
        <result column="PASSWORD" property="password" />
        <result column="STATUS" property="status" />
        <result column="CREATED_AT" property="createdAt" />
        <result column="CREATED_BY" property="createdBy" />
        <result column="UPDATED_AT" property="updatedAt" />
        <result column="UPDATED_BY" property="updatedBy" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID,
        USER_NO,
        USERNAME,
        PASSWORD,
        STATUS,
        CREATED_AT,
        CREATED_BY,
        UPDATED_AT,
        UPDATED_BY
    </sql>

    <!-- 1.查询用户 -->
    <select id="selectById" resultMap="BaseResultMap" parameterType="String">
        SELECT
            <include refid="Base_Column_List"/>
        FROM
            T_USER
        WHERE
            USER_NO = #{userNo}
    </select>

    <!--  2.新增博客 -->
    <insert id="insert" parameterType="UserDO">
        INSERT INTO
            T_USER(
                    USER_NO,
                    USERNAME,
                    PASSWORD,
                    STATUS,
                    CREATED_AT,
                    CREATED_BY,
                    UPDATED_AT,
                    UPDATED_BY
        )VALUES (
                    #{userNo},
                    #{username},
                    #{password},
                    #{status},
                    now(),
                    #{createdBy},
                    now(),
                    #{updatedBy})
    </insert>

    <!-- 3.修改博客 -->
    <update id="update" parameterType="UserDO">
        UPDATE
            T_USER
        <set>
            <if test="username != null and username = '' ">
                USERNAME = #{username},
            </if>
            <if test="password != null and password = '' ">
                PASSWORD = #{password},
            </if>
            <if test="status != null and status = '' ">
                STATUS = #{status},
            </if>
                UPDATED_AT = now(),
            <if test="updatedBy != null and updatedBy = '' ">
                UPDATED_BY = #{updatedBy},
            </if>
        </set>
        WHERE
            USER_NO = #{userNo}
    </update>

    <!-- 4.分页查询用户信息 -->
    <select id="selectByPage" resultType="pageDO">
        SELECT
            <include refid="Base_Column_List" />
        FROM
            T_USER
        ORDER BY UPDATED_AT
            limit #{startIndex,jdbcType=DECIMAL} <![CDATA[,]]> #{pageSize,jdbcType=DECIMAL}
    </select>

    <!-- 5.删除用户 -->
    <delete id="deleteById" parameterType="String">
        DELETE FROM
            T_USER
        WHERE
            USER_NO = #{userNo}
    </delete>

</mapper>
